:host {
	overflow-y: scroll;
}

.park-list-item {
	padding: 0.5rem;
	border: solid 1px #bbbbbb;
	border-bottom: none;

	&:hover {
		background: #b4d4ff;
		cursor: pointer;
		border: solid 1px #5982b8;
		border-bottom: none;
	}
}