:host {
	overflow-y: scroll;
	border: solid 1px #bbbbbb;
}

.park-list-item {
	padding: 0.5rem;
	border-bottom: solid 1px #bbbbbb;
	transition: 0.2s;

	&:hover, &.active {
		transition: 0.6s;
		background: #b4d4ff;
		cursor: pointer;
		border-bottom: solid 1px #5982b8;
	}
}